<!DOCTYPE html>
<html lang="en">
    <head>
       
    </head>

    <body bgcolor="#FAD6EF" face="Arial">
    <h2 style="color:#320223" > <font face="Arial" size="5px" > CONTADOR DE PALABRAS </h2></font> 

    {{ hithere }}
        <form action="{% url 'count' %}">
            
            <textarea cols="40" rows="15" name="fulltext"></textarea>
           <br />
           <br />
            <input type="submit" value="Cuenta!"></input> 
            

        </form>








    </body>
</html>

